
body {
    font-family: 'Josefin Slab';
    background-color: #e0e0de;
    font-size: 20px;
}


.rooms-booked {
  width: 60%;
  display: inline-block;
}

.home-page {
  display: inline-block;
}

.money-spent-section {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 25px;
  width: 30%;
  border: solid 1px black;

}



.money-spent {
  text-align: center;
}


.hidden {
  display: none;
}
