
body {
    font-family: 'Josefin Slab';
    background-color: #e0e0de;
    font-size: 20px;
}


.rooms-booked {
  width: 60%;
  display: inline-block;
}

.home-page {
  display: inline-block;
}

.money-spent-section {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 25px;
  width: 30%;
  border: solid 1px black;

}

.rooms-booked-table, .open-rooms-table {
  width: 100%;
  border-collapse: collapse;
  th {
    width: 10%;
  }

  td {
    padding: 5px 10px;
    width: 10%;

    &.right-alligned{
      text-align: right;
    }
  }
}

table, th, td {
  border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.money-spent {
  text-align: center;
}


.hidden {
  display: none;
}
